@import 'tailwindcss';

@theme {
  --color-very-dark-grey: #20212c;
  --color-dark-grey: #2b2c37;
  --color-lines-dark: #3e3f4e;
  --color-main-purple: #635fc7;
  --color-main-purple-hover: #a8a4ff;
  --color-medium-grey: #828fa3;
  --color-todo: #49c4e5;
  --color-doing: #8471f2;
  --color-done: #67e2ae;
  --color-red: #ea5555;
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}
